<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>githubtest.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>8BC6E36B1D7EA6D9006D1A0D</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>8BC6E3841D7EA6D9006D1A0D</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>8BC6E38F1D7EA6D9006D1A0D</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
